body {
    margin: 0;
    padding: 0;
    color: #595959;
    font-family: 'Trocchi';
}

a {
    text-decoration: inherit;
    color: inherit;
}

p {
    font-family: 'Open Sans';
}

/* Navigation Bar */ 

nav {
    width: 100%;
    z-index: 1;
    position: fixed;
    background-color: white;
    opacity: 0.8;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    padding-right: 10px;
}

nav li{
    list-style-type: none;
    padding: 0 20px;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 36px;
}

nav li:hover {
    /* background-color: rgb(180, 180, 180);
    color: white; */
    background-color: rgb(200, 200, 200);
    color: black;
    border-radius: 10px;
    opacity: 0.7;
}

/* Text overlay on picture */

.title-overlay {
    background-color: white;
    position: relative;
    opacity: 0.8;
    text-align: center;
    padding: 20px;
}

.title-overlay h2 {
    font-size: 40px;
    margin: 10px;
}

.title-overlay p {
    font-size: 18px;
    font-family: 'Open Sans';
    margin: 0;
    padding: 10px;
}

.title-overlay h6 {
    font-family: 'Open Sans';
    margin: 0;
}

/* Background Picture */

.background-container {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* Flex Container */

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

/* Footer */

footer {
    background-color: #0B1C3E;
    text-align: center;
    color: white;
    font-size: 18px;
    font-family: 'Open Sans';
    padding-top: 20px;
    padding-bottom: 20px;
    
}

/* Homepage index.html ONLY */

.title-splash {
    /* border: 2px black solid; */
    background-image: url("../images/LA_mtns.JPG");
    position: relative;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.title-name {
    color: white;
    font-size: 48px;
    position: relative;
    padding: 50px;
    margin: 0;
    letter-spacing: 6px;
}

/* Actions Section */

.actions-container {
    position: relative;
    font-size: 28px;
}

.action-cards {
    margin: 20px;
    text-align: center;
    height: 200px;
    width: 200px;
    border-radius: 100%;
    background-color: rgb(240, 240, 240);
}

.action-cards i {
    margin-top: 55px;
}

.action-cards:hover {
    background-color: rgb(230, 230, 230);
}

.action-word {
    margin: 0;
}

/* Bio Page ONLY */
#bio-portrait {
    width: 250px;
    height: auto;
    float: left;
    margin: 30px;
}

.bio-container {
    background-color: #E4EDFF;
    padding-top: 70px;
}

.bio-info-container {
    padding: 20px;
}

#verse {
    margin-top: 70px;
}

/* Travel page ONLY */
.travel-title-container {
    padding-top: 70px;
    background-color: #0B1C3E;
}

.travel-title-cards {
    width: 300px;
    height: 300px;
    margin: 20px;
    background-color: grey;
    text-align: center;
    color: white;
    opacity: 0.7;
}

.travel-title-cards:hover {
    opacity: 1;
}

.travel-title-cards h1 {
    padding-top: 25%;
}

.location-container {
    background-color: #E4EDFF;
    padding-bottom: 30px;
}

.travel-pictures-container {
    text-align: center;
    margin: 20px;
}

.picture-container img {
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.picture-caption {
    font-family: 'Open Sans';
    margin: 10px;
}

/* Cafe Page ONLY */

#cafe-background {
    height: 700px;
    background-image: url("../images/aroma-beverage-brown-347144.jpg");
    padding-top: 100px;
}

.cafe-map {
    text-align: center;
    margin: 20px;
}

.cafe-card {
    width: 300px;
    height: 400px;
    padding: 15px;
    background-color: #c4c4c4;
    margin: 20px;
}

.cafe-card:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.cafe-card h1, .cafe-card .location {
    text-align: center;
}

.cafe-card .location {
    color: white;
    font-family: 'Opens Sans';
}


