body {
    margin: 0;
    padding: 0;
    color: #595959;
    font-family: 'Trocchi';
}

a {
    text-decoration: inherit;
    color: inherit;
}

.title-splash {
    /* border: 2px black solid; */
    background-image: url("../images/LA_mtns.JPG");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

/* Navigation Bar */ 

nav {
    width: 100%;
    z-index: 1;
    position: fixed;
    background-color: white;
    opacity: 0.7;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
}

nav li{
    list-style-type: none;
    padding: 0 20px;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 36px;
}

nav li:hover {
    /* background-color: rgb(180, 180, 180);
    color: white; */
    background-color: rgb(200, 200, 200);
    color: black;
    border-radius: 10px;
    opacity: 0.7;
}

.title-name {
    color: white;
    font-size: 48px;
    /* border: 2px black solid; */
    position: relative;
    padding: 50px;
    margin: 0;
    letter-spacing: 6px;
}

.title-hello {
    background-color: white;
    position: relative;
    width: 100%;
    opacity: 0.8;
    text-align: center;
    /* border: 2px black solid; */
    padding: 20px;
}

.title-hello h2 {
    font-size: 40px;
    margin: 0;
}

.title-hello p {
    font-size: 18px;
    font-family: 'Open Sans';
    margin: 0;
}

.title-hello h6 {
    font-family: 'Open Sans';
    margin: 0;
}

/* Actions Section */

.actions-container {
    position: relative;
    /* border: 2px black solid; */
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    font-size: 36px;
}

.action-cards {
    /* border: 2px black solid; */
    margin: 20px;
    text-align: center;
    padding: 10px;
    margin: 50px;
    border-radius: 50px;
}

.action-cards:hover {
    background-color: rgb(230, 230, 230);
}

.action-circle {
    border: 2px #C4C4C4 solid;
    width: 200px;
    height: 200px;
    border-radius: 100%;
}

/* Footer */

footer {
    background-color: #0B1C3E;
    text-align: center;
    color: white;
    font-size: 18px;
    font-family: 'Open Sans';
    /* border: 3px black solid; */
    padding-top: 20px;
    padding-bottom: 20px;
    
}